@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  direction: rtl;
}

/* Form input error states */
input[data-error="true"],
textarea[data-error="true"] {
  border-color: #f87171;
}

input[data-error="false"],
textarea[data-error="false"] {
  border-color: #e5e7eb;
}
